step-function-definition.json
{
  "type": "EXPRESS",
  "publish": true,
  "definition": {
  "Comment": "FLP Set Aside Request Work Flow state machine",
  "StartAt": "FillForm2501",
  "States": {
    "FillForm2501": {
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleFillFormError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "UploadForm2501",
      "Parameters": {
        "body.$": "$.body",
        "headers.$": "$.headers"
      },
      "Resource": "arn:aws:lambda:us-east-1:5157350:function:fill2501Form",
      "ResultPath": "$",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "TimeoutSeconds": 300,
      "Type": "Task"
    },
    "HandleFillFormError": {
      "Next": "ProcessingFailed",
      "Parameters": {
        "details.$": "$.error",
        "error": "Failed to fill form 2501",
        "step": "FillForm2501"
      },
      "Type": "Pass"
    },
    "HandleSaveError": {
      "Next": "ProcessingFailed",
      "Parameters": {
        "details.$": "$.error",
        "error": "Failed to save set aside request to database",
        "step": "SaveSetAsideRequest"
      },
      "Type": "Pass"
    },
    "HandleUploadError": {
      "Next": "ProcessingFailed",
      "Parameters": {
        "details.$": "$.error",
        "error": "Failed to upload form to document repository",
        "step": "UploadForm2501"
      },
      "Type": "Pass"
    },
    "ProcessingComplete": {
      "End": true,
      "OutputPath": "$",
      "Result": "Set aside request processed successfully",
      "ResultPath": "$.status",
      "Type": "Pass"
    },
    "ProcessingFailed": {
      "Cause": "Set aside request processing failed",
      "Error": "ProcessingError",
      "Type": "Fail"
    },
    "SaveSetAsideRequest": {
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleSaveError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "ProcessingComplete",
      "Parameters": {
        "body.$": "$.body",
        "headers.$": "$.headers"
      },
      "Resource": "arn:aws:lambda:us-east-1:5157350:function:saveSetAsideRequest",
      "ResultPath": "$",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "TimeoutSeconds": 300,
      "Type": "Task"
    },
    "UploadForm2501": {
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleUploadError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "SaveSetAsideRequest",
      "Parameters": {
        "body.$": "$.body",
        "headers.$": "$.headers"
      },
      "Resource": "arn:aws:lambda:us-east-1:5157350:function:upload2501Form",
      "ResultPath": "$",
      "Retry": [
        {
          "BackoffRate": 2,
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ],
      "TimeoutSeconds": 300,
      "Type": "Task"
    }
  }
 }
}